.container
{     
    padding: 0;  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-right: 9%;
    width: 85%;

}



header{
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(52,192,104);   
}


.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;

}


.navigation ul li button {
    display: block;
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.4s linear;
}

.navigation ul li button:hover {
    background: rgb(255,142,43);
    border-radius: 5px;
}

#header_tittle {
    font-family: 'Roboto', sans-serif;
    font-size: 25px; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: white; /* Establece el color del texto en blanco */
    margin-left: 2%; /* Aplica el mismo margen que los botones */
    font-weight: bold;
}
