<header>
    <div class="container">
        <a id="header_tittle"> {{headerTittle}} <i class="fas fa-plane"></i> </a>
        <nav class="navigation">
            <ul>
                <li *ngIf="showAuth">
                    <ul>
                        <li *ngIf="loggedIn">
                            <button (click)="cerrarSesion()">Cerrar sesión</button>
                        </li>                
                        <li *ngIf="!loggedIn">
                            <button (click)="navigateLogin()" class="btn-nav">Iniciar sesión</button>
                        </li>
                    </ul>
                </li>
                <li *ngIf="showChatButton">
                    <button (click)="navigateChat()">Chat</button>
                </li>
                <li *ngIf="showHomeButton">
                    <button (click)="navigateHome()">Home</button>
                </li>
                <li *ngIf="showQuienSoyButton">
                    <button (click)="navigateQuienSoy()">Quien soy</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
